/* Header */
header{
    border-bottom: 1px solid black;
}
a {
    color: black;
}

header li{
    display: inline;
    margin-right: 66px;   
}
.first-item{
    margin-left: 537px;
}
/* Image style */
div{
    margin-left: 400px;
    margin-bottom: 117px;
}
.column {
    float: left;
    padding: 5px;
    border: 2px solid black;
    margin-left: 90px;
}
.row::after{
    content: "";
    clear: both;
    display: inline;
}
img{
    height: 359px;
    width: 347.94px;
}
p{
    width: 287px;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.btn{
    float: right;
}
.text{
    position: absolute;
    width: 263px;
    height: 57px;
    left: 131px;
    top: 849px;
    font-family: 'Open Sans';
}
.text1{
    position: absolute;
    width: 263px;
    height: 57px;
    left: 581px;
    top: 849px;
    font-family: 'Open Sans';
}
.text2{
    position: absolute;
    width: 263px;
    height: 57px;
    left: 1006px;
    top: 849px;
    font-family: 'Open Sans';
}